<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="unit1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Unit 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unit2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Unit 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unit3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Unit 3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unit">
      <ion-icon name="star"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
